.PolyAsset__autoScaleContainer,
.PolyAsset__rotationContainer,
.PolyAsset__positionContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
}

.PolyAsset__contentContainer {
    width: 100%;
}

.PolyAsset__autoScaleLabel,
.PolyAsset__rotationLabel,
.PolyAsset__positionLabel {
    font-size: 12px;
    margin-right: 10px;;
}

.PolyAsset__positionSlider {
    flex: 0 0 30%;
}

.PolyAsset__positionSliderContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex: 1;
}